.create_name {
    color: yellow;
}

.comments {
    margin: 0 auto;
    width: 350px;

}

.title {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;


}

.title button {
    border: none;
    background-color: transparent;
    padding: 10px 10px;
    margin: auto;

}

.title button.active {

    padding: 10px 10px 15px 10px;
    color: #4B5DFF;
    /* shadow medium */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;
}