.create_name {
    color: yellow;
}

.comments {
    margin: 0 auto;
    width: 350px;

}

.title {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;


}

.title button {
    border: none;
    background-color: transparent;
    padding: 10px 10px;
    margin: auto;

}

.title button.active {

    padding: 10px 10px 15px 10px;
    color: #4B5DFF;
    /* shadow medium */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;
}

.counter {}

.form {}

.formText textarea {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 15px;
    width: 90%;
    resize: none;
    outline: none;
    border: none;
}

.formText input {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 15px;
    width: 90%;
    resize: none;
    outline: none;
    border: none;
}

.formBtn {
    background-color: white;
    margin-top: 15px;
    margin-left: 3px;
    padding: 8px 20px 8px 20px;
    color: #4B5DFF;
    border: 2px solid #4B5DFF;
    box-sizing: border-box;
    /* shadow1 */

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}