.postcard-blocks {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    
}
.post {
    width: 80%;
    background: #ffffff;
    color: rgb(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    padding: 16px 16px 0;
}

.postcard_authors {
    margin: 20px 15px;
}

.create_name {
    color: #448aff;
    font-weight: 800;
    margin-right: 8px;
    font-size: 0.9rem;
}

.create_date {
    color: rgba(0, 0, 0, 0.38);
    font-size: 0.8rem;
}
.post_img{
    text-align: center;
}
.post_img img {
    max-width: 100%;
    max-height: 700px;
    object-fit: cover;
}

.postcard_title {
    margin: 20px 15px;
}

.post_title h1 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 25px;
    font-weight: 800;

}

.postcard_func{
    margin: 20px 15px;
    color: rgba(0, 0, 0, 0.38);
}

.mr-35{
    margin-right: 35px;
}